<nav class="navbar navbar-expand-sm bg-danger navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://archives.bulbagarden.net/media/upload/4/4b/Pok%C3%A9dex_logo.png" alt="" srcset="" style="max-height: 35px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Evoluciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ataque</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Defensa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Velocidad</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="bg-primary d-flex justify-content-center">
  <div class="col-12 col-md-6 col-xl-5 bg-light border p-3" style="min-height: 95vh;">
    <h2 class="text-center mb-2">Pokemones</h2>
    <app-elementos></app-elementos>
  </div>

</main>
